<div class="text-center">
	<span class="inline-flex items-center justify-center w-16 h-16 mb-2 text-3xl bg-white border border-gray-200 rounded-full shadow">
		{% include '../Icon/Icon.twig' with {
			icon: icon
		} %}
	</span>
	<h4 class="mb-2 text-2xl font-medium">
		{{ title }}
	</h4>
	<p class="text-gray-500">
		{{ description }}
	</p>
</div>
