<section class="mb-16 overflow-hidden">
	<div class="max-w-container mx-auto px-4">
		<h2 class="text-4xl font-bold mb-8 text-center md:pt-8 md:max-w-[29rem] md:text-left md:mb-20 lg:mb-32 lg:text-5xl">
			Competitive Pricing and <span class="underline-highlight">Rapid</span> Delivery
		</h2>

		<div class="grid gap-5 -mx-[.125rem] md:grid-cols-3">
			<div>
				<div class="bg-gray-50 rounded-xl pb-8 relative">
					<picture class="block">
						<source srcset="./assets/img/references/loreal.webp 1x, ./assets/img/references/loreal@2x.webp 2x"
							type="image/webp" />
						<img src="./assets/img/references/loreal.jpg"
							srcset="./assets/img/references/loreal@2x.jpg 2x"
							alt="L'Oréal Salon Expert"
							width="468"
							height="342"
							loading="lazy"
							class="w-full rounded-xl" />
					</picture>

					<div class="bg-white rounded-xl mx-8 px-7 py-6">
						<h3 class="text-xl text-primary mb-[0.375rem]">
							L'Oréal Salon Expert
						</h3>
						<ul class="flex flex-wrap gap-2 text-xs text-gray-500 font-bold uppercase">
							<li>#UX</li>
							<li>#WEBDESIGN</li>
						</ul>
					</div>

					<div class="absolute -left-[1.5em] top-[7em] py-[1.75em] px-[1.75em] bg-primary bg-corner-gradient text-white rounded-[.625em] rounded-br-[2.5em] text-xs lg:text-base">
						<strong class="block text-center text-[2.5em] leading-tight">4</strong>
						<span class="text-[1.25em]">Weeks</span>
					</div>
				</div>
			</div>

			<div>
				<div class="bg-gray-50 rounded-xl pb-8 relative">
					<span class="absolute top-8 left-8 py-[.625rem] px-4 text-xs bg-black text-white uppercase font-bold rounded-xl">
						Case study
					</span>

					<picture class="block">
						<source srcset="./assets/img/references/bosonozka.webp 1x, ./assets/img/references/bosonozka@2x.webp 2x"
							type="image/webp" />
						<img src="./assets/img/references/bosonozka.jpg"
							srcset="./assets/img/references/bosonozka@2x.jpg 2x"
							alt="Bosonožka"
							loading="lazy"
							width="468"
							height="478"
							class="w-full rounded-xl" />
					</picture>

					<div class="bg-white rounded-xl mx-8 px-7 py-6">
						<h3 class="text-xl text-primary mb-[0.375rem]">
							Bosonožka
						</h3>
						<ul class="flex flex-wrap gap-2 text-xs text-gray-500 font-bold uppercase">
							<li>#PPC</li>
							<li>#Social</li>
							<li>#Remarketing</li>
						</ul>
					</div>

					<div class="absolute right-[2em] -top-[2em] py-[1.75em] px-[1.75em] bg-primary bg-corner-gradient text-white rounded-[.625em] rounded-br-[2.5em] text-xs lg:text-base">
						<strong class="block text-center text-[2.5em] leading-tight">3</strong>
						<span class="text-[1.25em]">Weeks</span>
					</div>
				</div>
			</div>

			<div class="md:-mt-40 lg:-mt-[17rem]">
				<div class="bg-gray-50 rounded-xl pb-8 relative">
					<picture class="block">
						<source srcset="./assets/img/references/neo.webp 1x, ./assets/img/references/neo@2x.webp 2x" type="image/webp" />
						<img src="./assets/img/references/neo.jpg"
							srcset="./assets/img/references/neo@2x.jpg 2x"
							alt="Neo by ExpoBank"
							width="468"
							height="341"
							loading="lazy"
							class="w-full rounded-xl" />
					</picture>

					<div class="bg-white rounded-xl mx-8 px-7 py-6">
						<h3 class="text-xl text-primary mb-[0.375rem]">
							Neo by ExpoBank
						</h3>
						<ul class="flex flex-wrap gap-2 text-xs text-gray-500 font-bold uppercase">
							<li>#UX</li>
							<li>#Webdesign</li>
							<li>#Digital strategy</li>
						</ul>
					</div>

					<div class="absolute -right-[2em] top-[2em] py-[1.75em] px-[1.75em] bg-primary bg-corner-gradient text-white rounded-[.625em] rounded-br-[2.5em] text-xs lg:text-base">
						<strong class="block text-center text-[2.5em] leading-tight">8</strong>
						<span class="text-[1.25em]">Weeks</span>
					</div>
				</div>

				<div class="text-center mt-20 mx-auto max-w-[17.125rem] pb-4 md:mt-[4.5rem] md:text-left md:ml-8 md:mr-0 lg:ml-16">
					<span class="inline-block text-5xl mb-6 leading-[0]">
						{% include '../Icon/Icon.twig' with {
							icon: 'optimalization'
						} %}
					</span>

					<h3 class="text-4xl leading-[1.15] font-bold mb-8 md:mb-14 lg:text-[2.5rem]">
						Prices from 320&nbsp;€/MD
					</h3>

					<a href="#" class="btn-primary js-open-popup"><span class="relative z-10">Contact us now</span></a>
				</div>
			</div>
		</div>
	</div>
</section>
