<section class="mb-16 overflow-hidden">
	<div class="px-4 mx-auto max-w-container">
		<h2 class="text-4xl font-bold mb-8 text-center md:pt-8 md:max-w-[29rem] md:text-left md:mb-20 lg:mb-32 lg:text-5xl">
			Competitive Pricing and <span class="underline-highlight">Rapid</span> Delivery
		</h2>

		<div class="grid gap-5 -mx-[.125rem] md:grid-cols-3">
			
			<a href="https://jimjerky.cz" title="Emco - Jim Jerky">
				<div>
					<div class="relative pb-8 bg-gray-50 rounded-xl">
						<picture class="block">
							<source srcset="./assets/img/references/img-jim2.webp 1x, ./assets/img/references/img-jim2@2x.webp 2x"
								type="image/webp" />
							<img src="./assets/img/references/img-jim2.png"
								srcset="./assets/img/references/img-jim2@2x.png 2x"
								alt="L'Oréal Salon Expert"
								width="468"
								height="342"
								loading="lazy"
								class="w-full rounded-xl" />
						</picture>

						<div class="py-6 mx-8 bg-white rounded-xl px-7">
							<h3 class="text-xl text-primary mb-[0.375rem]">
								Emco - Jim Jerky
							</h3>
							<ul class="flex flex-wrap gap-2 text-xs font-bold text-gray-500 uppercase">
								<li>#HTML5</li>
								<li>#ATOMIC CSS</li>
								<li>#SASS</li>
								<li>#JS</li>
								<li>#TWIG</li>
							</ul>
						</div>

						<div class="absolute -left-[1.5em] top-[7em] py-[1.75em] px-[1.75em] bg-primary bg-corner-gradient text-white rounded-[.625em] rounded-br-[2.5em] text-xs lg:text-base">
							<strong class="block text-center text-[2.5em] leading-tight">1</strong>
							<span class="text-[1.25em]">Week</span>
						</div>
					</div>
				</div>
			</a>

			<a href="https://reciprofity.com" title="reciProfity">
				<div>
					<div class="relative pb-8 bg-gray-50 rounded-xl">

						<picture class="block">
							<source srcset="./assets/img/references/img-rec.webp 1x, ./assets/img/references/img-rec@2x.webp 2x"
								type="image/webp" />
							<img src="./assets/img/references/img-rec.png"
								srcset="./assets/img/references/img-rec@2x.png 2x"
								alt="Reciprofity"
								loading="lazy"
								width="468"
								height="478"
								class="w-full rounded-xl" />
						</picture>

						<div class="py-6 mx-8 bg-white rounded-xl px-7">
							<h3 class="text-xl text-primary mb-[0.375rem]">
								reciProfity
							</h3>
							<ul class="flex flex-wrap gap-2 text-xs font-bold text-gray-500 uppercase">
								<li>#HTML 5</li>
								<li>#TAILWIND</li>
								<li>#TWIG</li>
								<li>#JS</li>
							</ul>
						</div>

						<div class="absolute right-[2em] -top-[2em] py-[1.75em] px-[1.75em] bg-primary bg-corner-gradient text-white rounded-[.625em] rounded-br-[2.5em] text-xs lg:text-base">
							<strong class="block text-center text-[2.5em] leading-tight">4</strong>
							<span class="text-[1.25em]">Weeks</span>
						</div>
					</div>
				</div>
			</a>

			<div class="md:-mt-40 lg:-mt-[17rem]">
				<a href="https://marila.cz" title="Marila by Mokate">
					<div class="relative pb-8 bg-gray-50 rounded-xl">
						<picture class="block">
							<source srcset="./assets/img/references/img-mar.webp 1x, ./assets/img/references/img-mar@2x.webp 2x" type="image/webp" />
							<img src="./assets/img/references/img-mar.jpg"
								srcset="./assets/img/references/img-mar@2x.jpg 2x"
								alt="Marila by MoKate"
								width="468"
								height="341"
								loading="lazy"
								class="w-full rounded-xl" />
						</picture>

						<div class="py-6 mx-8 bg-white rounded-xl px-7">
							<h3 class="text-xl text-primary mb-[0.375rem]">
								Marila by Mokate
							</h3>
							<ul class="flex flex-wrap gap-2 text-xs font-bold text-gray-500 uppercase">
								<li>#HTML5</li>
								<li>#ATOMIC CSS</li>
								<li>#SASS</li>
								<li>#JS</li>
								<li>#TWIG</li>
							</ul>
						</div>

						<div class="absolute -right-[2em] top-[2em] py-[1.75em] px-[1.75em] bg-primary bg-corner-gradient text-white rounded-[.625em] rounded-br-[2.5em] text-xs lg:text-base">
							<strong class="block text-center text-[2.5em] leading-tight">3</strong>
							<span class="text-[1.25em]">Weeks</span>
						</div>
					</div>

					<div class="text-center mt-20 mx-auto max-w-[17.125rem] pb-4 md:mt-[4.5rem] md:text-left md:ml-8 md:mr-0 lg:ml-16">
						<span class="inline-block text-5xl mb-6 leading-[0]">
							{% include '../Icon/Icon.twig' with {
								icon: 'optimalization'
							} %}
						</span>

						<h3 class="text-4xl leading-[1.15] font-bold mb-8 md:mb-14 lg:text-[2.5rem]">
							Prices from 450&nbsp;€/MD
						</h3>

						<a href="#" class="btn-primary js-open-popup"><span class="relative z-10">Contact us now</span></a>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
