<div class="max-w-[28rem] max-w-[40rem] md:max-w-none">
	<div class="clients-carousel swiper mt-16 md:mt-20 lg:mt-[11.5rem]">
		<div class="swiper-wrapper flex items-center">
			{% for i in 0..5 %}
				<div class="swiper-slide text-center">
					<img src="./assets/img/clients/loreal-professionnel-paris.svg"
						alt="L'Oréal Professionnel"
						width="96"
						height="34"
						loading="lazy"
						class="inline-block w-[6rem] h-[2.125rem]" />
				</div>

				<div class="swiper-slide text-center">
					<img src="./assets/img/clients/jablotron.svg"
						alt="Jablotron Creating Comfort"
						width="118"
						height="23"
						loading="lazy"
						class="inline-block w-[7.375rem] h-[1.4375rem]" />
				</div>

				<div class="swiper-slide text-center">
					<img src="./assets/img/clients/gs.svg"
						alt="Green Swan"
						width="124"
						height="22"
						loading="lazy"
						class="inline-block w-[7.75rem] h-[1.375rem]" />
				</div>

				<div class="swiper-slide text-center">
					<img src="./assets/img/clients/gamo.svg"
						alt="Gamo Informačné technológie"
						width="84"
						height="23"
						loading="lazy"
						class="inline-block w-[5.25rem] h-[1.4375rem]" />
				</div>

				<div class="swiper-slide text-center">
					<img src="./assets/img/clients/expobank.svg"
						alt="Expobank"
						width="144"
						height="24"
						loading="lazy"
						class="inline-block w-[9rem] h-[1.5rem]" />
				</div>
			{% endfor %}
		</div>
	</div>
</div>
