<div class="max-w-[28rem] max-w-[40rem] md:max-w-none">
	<div class="clients-carousel swiper mt-16 md:mt-20 lg:mt-[11.5rem]">
		<div class="flex items-center swiper-wrapper">
			{% for i in 0..5 %}
				<div class="text-center swiper-slide">
					<img src="./assets/img/clients/loreal.svg"
						alt="L'Oréal Professionnel"
						width="120"
						height="21.729"
						loading="lazy"
						class="inline-block w-[7.5rem] h-[1.358rem]" />
				</div>

				<div class="text-center swiper-slide">
					<img src="./assets/img/clients/mokate.svg"
						alt="Mokate"
						width="110"
						height="40.352"
						loading="lazy"
						class="inline-block w-[6.875rem] h-[2.522rem]" />
				</div>

				<div class="text-center swiper-slide">
					<img src="./assets/img/clients/jablotron.svg"
						alt="Jablotron Creating Comfort"
						width="118"
						height="23"
						loading="lazy"
						class="inline-block w-[7.375rem] h-[1.4375rem]" />
				</div>

				<div class="text-center swiper-slide">
					<img src="./assets/img/clients/gs.svg"
						alt="GreenSwan Pharma"
						width="124"
						height="22"
						loading="lazy"
						class="inline-block w-[7.75rem] h-[1.4375rem]" />
				</div>

				<div class="text-center swiper-slide">
					<img src="./assets/img/clients/expobank.svg"
						alt="Expobank"
						width="144"
						height="24"
						loading="lazy"
						class="inline-block w-[9rem] h-[1.5rem]" />
				</div>


				<div class="text-center swiper-slide">
					<img src="./assets/img/clients/solitea.svg"
						alt="Solitea"
						width="151.796"
						height="37.013"
						loading="lazy"
						class="inline-block w-[9.487rem] h-[2.313rem]" />
				</div>



				<div class="text-center swiper-slide">
					<img src="./assets/img/clients/emco.svg"
						alt="Emco"
						width="70.001"
						height="37.534"
						loading="lazy"
						class="inline-block w-[4.375rem] h-[2.346rem]" />
				</div>
			{% endfor %}
		</div>
	</div>
</div>
