<header id="header"
	class="sticky top-0 l-0 w-full flex items-center p-4 relative z-40 bg-white sm:p-8 sm:static sm:bg-transparent sm:shadow-none">
	<a href="/">
		<img src="./assets/img/digihive-logo.svg" alt="digihive" class="w-[12.5rem] h-[3.625rem]" width="200" height="58" loading="lazy" />
	</a>
</header>
