<footer class="overflow-hidden relative z-20">
	<div class="max-w-container mx-auto px-4">
		<p class="text-xl text-center mb-14">
			Do you like what you saw? Let us know.
		</p>
		<div class="text-center text-[5rem] leading-[0] -mb-[2.5rem] animate-bounceDown">
			{% include '../Icon/Icon.twig' with {
				icon: 'arrow-big'
			} %}
		</div>
	</div>

	<div class="bg-gray-900 text-white pt-[4.375rem]">
		<div class="max-w-container mx-auto px-4">
			<div class="md:flex">
				<div class="flex-1 xl:pl-[7.5rem]">
					<h2 class="text-4xl leading-[1.15] font-bold mb-10 lg:text-[2.5rem] lg:mb-14 lg:mt-10">
						We'll Come to You Anywhere
					</h2>

					<div class="grid grid-cols-2 gap-12 mb-10 md:grid-cols-3 md:gap-0 lg:mb-16">
						<div>
							<strong class="block mb-3 uppercase text-xs text-gray-300 tracking-widest">Czech republic</strong>

							<h3 class="text-xl mb-4">
								Prague
							</h3>

							<p class="text-gray-300 leading-[1.875]">
								Václavská 2073/20<br />
								120 00 Praha 2<br />
								+420 604 225 127<br />
								<a href="mailto:info@inevio.cz"
									class="inline-block text-primary bg-gradient-to-r from-primary to-primary bg-[length:100%_1px] bg-no-repeat bg-left-bottom transition-[background-size] duration-500 hover:bg-[length:0%_1px]">
									info@inevio.cz
								</a>
							</p>
						</div>

						<div>
							<strong class="block mb-3 uppercase text-xs text-gray-300 tracking-widest">Czech republic</strong>

							<h3 class="text-xl mb-4">
								Brno
							</h3>

							<p class="text-gray-300 leading-[1.875]">
								Pražákova 1008/69<br />
								Brno, 639 00<br />
								+420 604 225 127<br />
								<a href="mailto:brno@inevio.cz"
									class="inline-block text-primary bg-gradient-to-r from-primary to-primary bg-[length:100%_1px] bg-no-repeat bg-left-bottom transition-[background-size] duration-500 hover:bg-[length:0%_1px]">
									brno@inevio.cz
								</a>
							</p>
						</div>

						<div>
							<strong class="block mb-3 uppercase text-xs text-gray-300 tracking-widest">Slovak republic</strong>

							<h3 class="text-xl mb-4">
								Bratislava
							</h3>

							<p class="text-gray-300 leading-[1.875]">
								Ševčenkova 34<br />
								Bratislava V - Petržalka<br />
								+421 949 258 123<br />
								<a href="mailto:info@inevio.sk"
									class="inline-block text-primary bg-gradient-to-r from-primary to-primary bg-[length:100%_1px] bg-no-repeat bg-left-bottom transition-[background-size] duration-500 hover:bg-[length:0%_1px]">
									info@inevio.sk
								</a>
							</p>
						</div>

						<div class="md:hidden">
							<img src="./assets/img/map.svg"
								width="537"
								height="537"
								alt="Map"
								loading="lazy"
								class="max-w-none w-auto -mx-16 -mt-8 -mb-[8.9375rem]" />
						</div>
					</div>

					<div class="mb-[4.375rem]">
						<a href="#contactPopup" class="btn-primary js-open-popup"><span class="relative z-10">Get a quote</span></a>
					</div>
				</div>

				<div class="hidden shrink-0 basis-[37.5%] md:block">
					<img src="./assets/img/map.svg"
						width="537"
						height="537"
						alt="Map"
						loading="lazy"
						class="w-auto max-w-none -mt-[2.5rem] -mr-[8.375rem] -ml-[7.5rem] -mb-[8.9375rem]" />
				</div>
			</div>

			<hr class="border-gray-800" />

			<div class="flex flex-col items-center justify-between py-[3.25rem] text-sm md:flex-row">
				<nav class="text-xs font-bold uppercase mb-8 md:mb-0 md:order-1">
					<ul class="flex flex-wrap gap-x-8">
						<li><a href="#" class="transition duration-500 hover:text-primary">HOME</a></li>
						<li><a href="#" class="transition duration-500 hover:text-primary">Services</a></li>
						<li><a href="#" class="transition duration-500 hover:text-primary">About us</a></li>
						<li><a href="#" class="transition duration-500 hover:text-primary">Contact</a></li>
					</ul>
				</nav>

				<ul class="flex flex-wrap gap-4 text-gray-300 mb-4 md:mb-0 md:order-1">
					<li>
						<a href="https://www.facebook.com/digihiveagency/" target="_blank" class="transition duration-500 hover:text-white">
							Facebook
						</a>
					</li>
					<li>
						<a href="https://www.instagram.com/digihive_cz/" target="_blank" class="transition duration-500 hover:text-white">
							Instagram
						</a>
					</li>
					<li>
						<a href="https://www.linkedin.com/company/digihiveagency"
							target="_blank"
							class="transition duration-500 hover:text-white">
							LinkedIn
						</a>
					</li>
				</ul>

				<p class="text-gray-300 md:order-0">
					2010 – 2022 © digihive s.r.o.
				</p>
			</div>
		</div>
	</div>
</footer>
